body{
    background-color: #888;
    margin: 0;
}

nav{
    margin: -10;
}

#demoPic{
    background: url(../img/demo.png);
    height: 266px;
    width: 873px;
    float: left;
    margin: 10px;
    margin-right: 20px;
}

#robotPic{
    background: url(../img/robot.png);
    height: 413px;
    width: 480px;
    float: left;
    margin-top: 20px;
    background-size:100% 100%;

}

.landing{
    height: 450px;
}

.lead{
    margin: 20px;
}

#descr{
    margin-top: 20px;
}


/* / */

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/*
   Multicoloured Hover Variations
*/

#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
#social-em:hover {
    color: #f39c12;
}