<title>Answer generation</title>
  <div id="robotPic"></div>

  <div class="jumbotron landing">
    <h1 class="display-3">Leaf</h1>
    <h3>Multiple-Choice Question Generation</h3>

    <h5> Generating multiple-choice questions suitable for knowledge assessment in classroom or industry settings. </h5>     
  
     
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="generate" role="button">Try Demo</a>
    </p>
  
  </div>  

<router-outlet></router-outlet>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div class="text-center center-block">
    <hr />
    <a href="https://github.com/KristiyanVachev/Question-Generation-Transformers"><i class="fa fa-github fa-3x social"></i></a>
    <a href="mailto:typhon04@gmail.com"><i class="fa fa-envelope-square fa-3x social"></i></a>
</div>
