#wrapper{
    /* padding-left: 200px;     */
    text-align: center;
    margin-top: -100px;
}

#generateForm{
    /* border: 1px solid black; */
    max-width: 800px;
    margin: auto;
    display: flex;
    margin-bottom: 55px;

}

#text{
    margin: 1px;
}

#questionsBox{
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
}
/* 
.questionBox{
    text-align: left;
    margin-bottom: 10px;
    padding-bottom: 50px;
} */

.answerBox{
    margin-bottom: 5px;
    margin-left: 15px;
}

.approveBtn{
    /* width: 200px; */
}